<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectGreenScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KinectGreenScreen.Properties.Settings>
            <setting name="defaultCaptionText" serializeAs="String">
                <value>Take your picture and E-mail it home!</value>
            </setting>
            <setting name="useCMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kinectPlayerBoundingBoxW" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="drupalURL" serializeAs="String">
                <value>YOUR_DRUPAL_URL</value>
            </setting>
            <setting name="drupalServiceEndpoint" serializeAs="String">
                <value>YOUR_DRUPAL_SERVICE_ENDPOINT_NAME</value>
            </setting>
            <setting name="drupalServiceUser" serializeAs="String">
                <value>YOUR_DRUPAL_USER_NAME</value>
            </setting>
            <setting name="drupalServicePassword" serializeAs="String">
                <value>YOUR_DRUPAL_USER_NAME_PASSWORD</value>
            </setting>
            <setting name="drupalConfigurationNode" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="kinectSeatedModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kinectDepthLeftOffset" serializeAs="String">
                <value>-42</value>
            </setting>
            <setting name="kinectPostBlurInt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="kinectGreenScreenDepthThresholdMeters" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="kinectSensingDepthCutoffMeters" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="kinectDepthTopOffset" serializeAs="String">
                <value>-34</value>
            </setting>
            <setting name="kinectDepthImageScale" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="photoCountdownSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="monochromeEffectContrastMultiplier" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="kinectAutoExposure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kinectAutoExposureBrightness" serializeAs="String">
                <value>0.2156</value>
            </setting>
            <setting name="kinectGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kinectManualExposureFrameInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kinectManualExposureTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kinectAutoWhiteBalance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kinectManualWhiteBalanceValue" serializeAs="String">
                <value>2700</value>
            </setting>
            <setting name="kinectManualHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kinectManualContrast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kinectManualGamma" serializeAs="String">
                <value>2.2</value>
            </setting>
            <setting name="kinectManualSaturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kinectManualSharpness" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="kinectGreenScreenMaskXPixelShift" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="useEmguCV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="drupalSubmissionContentType" serializeAs="String">
                <value>green_screen_image</value>
            </setting>
            <setting name="drupalSubmittedImageViewName" serializeAs="String">
                <value>submitted_green_screen_images</value>
            </setting>
            <setting name="exhibitTimeoutMS" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="drupalPublishSubmittedMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exhibitCursorActivationMS" serializeAs="String">
                <value>500</value>
            </setting>
        </KinectGreenScreen.Properties.Settings>
    </applicationSettings>
</configuration>